.input {
    border-radius: 7px;
    overflow: hidden;
}

.searchInput {
    width: 250px;
    height: 45px;
    border: none;
    padding: 0 10px;
}

.searchInput:focus {
    outline: none;
}

.searchIcon {
    background-color: #3DB349;
    color: white;
    padding: 10px 15px;
}

.nav_ul li {
    cursor: pointer;
}

.badge-container {
    border-radius: 12px;
    background-color: white;
}

.trend_card img {
    border-radius: 15px;
}

.footer_container {
    background-color: #2E2E54;
    color: white;
}
.footer_container li{
    list-style: none;
    font-size: 14px;
    line-height: 2;
    color: #9ba1a7;
}

@media (max-width: 767px) {
    .nav_ul li {
        font-size: 12px;
    }
}